/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#about {
  padding-top: 48px;
}

.footer {
  background-color: #f2f2f2;
  padding: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer p {
  line-height: 60px;
  color: white;
}


/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-top: 0;
  margin-bottom: 50px;
}

.carousel-inner {
  width:100%;
  max-height:500px !important;
  overflow:hidden;
}
.panel-primary a {
  color: white;
}

.panel-heading {
  background-color: #e2a92e; !important;
  border-color: #e2a92e; !important;
  color: #000; !important;
}

/* comment box */
.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

/*------------------------
    Intro Section
--------------------------*/
.intro-section {
  padding: 110px 0;
}

/*------------------------
    Portfolio Section
--------------------------*/
.portfolio-section {
  overflow: hidden;
}

.portfolio-filter {
  list-style: none;
  padding-bottom: 100px;
}

.portfolio-filter li {
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  color: #979797;
  cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
  color: #001418;
}

.portfolios-area .gallery-block {
  padding: 0;
}

.gallery-block {
  position: relative;
}

.portfolio-item {
  display: block;
  width: 100%;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  opacity: 0;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2 {
  opacity: 1;
  letter-spacing: 0;
}

.portfolio-meta {
  padding-bottom: 45px;
}

.portfolio-meta h2 {
  font-size: 24px;
}

.portfolio-meta p {
  font-size: 14px;
  color: #a6a6a6;
  margin-bottom: 0;
}

.portfolio-intro {
  display: block;
}

.img-popup-warp .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*------------------------
    Footer Section
--------------------------*/
.footer-section {
  padding: 110px 0;
}

.footer-section .copyright {
  font-size: 12px;
  color: #979797;
}

.social-links {
  margin-top: 60px;
  margin-bottom: 40px;
}

.social-links a {
  color: #979797;
  font-size: 15px;
  margin-right: 30px;
}

.social-links a:last-child {
  margin-right: 0;
}